In [3]:
# Series
# Column Vector 를 표현하는 Object

In [4]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [5]:
# Series : column Vector 를 표현하는 object
example_obj = Series()

C:\Users\gih54\AppData\Local\Temp\ipykernel_15808\2671260552.py:2: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  example_obj = Series()

In [6]:
list_data = [1, 2, 3, 4, 5]
example_obj = Series(data= list_data)
example_obj

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
# index : index 이름을 지정
list_data = [1, 2, 3, 4, 5]
list_name = ["a", "b", "c", "d", "e"]
example_obj = Series(data= list_data, index=list_name)
example_obj

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [8]:
# dtype : data type 설정, name : series 이름 설정
dict_data = {"a": 1, "b": 2, "c": 3, "d": 4, "e": 5}
example_obj = Series(dict_data, dtype=np.float32, name="example_data")
example_obj

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
Name: example_data, dtype: float32

In [9]:
# data index에 접근하기
example_obj["a"]

1.0

In [10]:
# data index 에 값 할당하기
example_obj["a"] = 3.2
example_obj

a    3.2
b    2.0
c    3.0
d    4.0
e    5.0
Name: example_data, dtype: float32

In [11]:
# .values : 값 리스트만, # .index : 인덱스 리스트만
print(example_obj.values)
print(example_obj.index)

[3.2 2.  3.  4.  5. ]
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [12]:
# Data에 대한 정보를 저장
example_obj.name = "number"
example_obj.index.name = "alphabet"
example_obj

alphabet
a    3.2
b    2.0
c    3.0
d    4.0
e    5.0
Name: number, dtype: float32

In [14]:
# index 값을 기준으로 series 생성
dict_data_1 = {"a": 1, "b": 2, "c": 3, "d": 4, "e": 5}
indexes = {"a", "b", "c", "d", "e", "f", "g", "h"}
series_obj_1 = Series(dict_data_1, index=indexes)
series_obj_1

a    1.0
g    NaN
h    NaN
d    4.0
c    3.0
f    NaN
b    2.0
e    5.0
dtype: float64